.icon img {
    height: 35px;
}

.nav button:nth-child(3) {
    opacity: 0.3;
    cursor: not-allowed;
}

/* .bios * {
    border: solid pink 1px;
} */

.bios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    margin: 30px;
    overflow-x: auto;
}

section img {
    width: 180px;
    border: black 2px solid;
    border-radius: 4px;
}

.bios section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bios section p {
    font-size: .8rem;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.bios section p:nth-child(4) {
    font-size: .7rem;
    text-align: left;
}

/* .bio-zone{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,1);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    text-decoration: none;
    cursor: pointer;

  }

  .button:hover {
    background:rgba(255,133,161,.8);
    border:inset pink 1px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index:1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 55%;
    position: relative;

  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 20%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }