.about-icons img{
    margin:5px;
}


.bio-container {
    display: flex;
    text-align: center;
    }
.marvin {
    margin-right: 20px;
    margin-left: 20px;

}

.taylor {
    margin-right: 20px;
}

.bio-zone{
    display: flex;
    justify-content: center;
    align-items: center;
}

