.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:25px;
    padding-bottom:25px;
}

.results img {
   width: 20em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.nav button:nth-child(2) {
    opacity: 0.3;
    cursor: not-allowed;
}

.weather-nav {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px;
}
.weather-nav img {
    height:30px;
    padding:2px;
}