.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.results img {
   width: 20em;
}

.nav button:nth-child(2) {
    opacity: 0.3;
    cursor: not-allowed;
}

.weather-nav {
    display:flex;
    justify-content: center;
    margin-top: 45px;
}

#warmButton {
    display: flex;
    align-items: center;
}

#warmButton:hover {
    cursor: pointer;
}

#warmButton img {
    height:25px;
    padding: 2px;
}

#coldButton {
    display: flex;
    align-items: center;
}

#coldButton {
    cursor: pointer;
}

#coldButton img {
    height:25px;
    padding:2px;
}

#randomize {
    cursor: pointer;
}