* {
	box-sizing: border-box;
}

@font-face {
	font-family: "ChicagoFLF";
	src: url("../fonts/ChicagoFLF.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
	font-family: "FindersKeepers";
	src: url("../fonts/FindersKeepers.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Header */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav :link,
:active,
:visited {
	text-decoration: none;
}

.subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.3em;
	margin: 15px;
}

.instructions {
	text-align: center;
	font-family: 'FindersKeepers', 'Geneva', sans-serif;
	font-size: 1.7em;
	padding: 10px;
    margin-bottom:10px;
}

/* Clothing Form */

form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

ul img {
	height: 20em;
	margin: 10px;
	cursor: pointer;
}

input:checked + img {
	border: inset 4px #a29fe5;
	border-radius: 5px;
}

input:hover + img {
	border: inset 4px #a29fe5;
	border-radius: 5px;
}

a:link {
	text-decoration: none;
}

/* Submit Button */

.choices-submit-button {
	background-color: #dedede;
	display: inline-block;
	margin: 30px;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: var(--button-box-shadow);
}

.choices-submit-button:link {
	text-decoration: none;
}

.choices-submit-button:hover {
	box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
	cursor: pointer;
}

.choices-submit-button:active {
	color: #fff;
	background-color: #666;
	box-shadow: var(--button-hover-bezel), inset -1px -1px 0px 0px #888,
		inset -2px -2px 0px 0px #777, inset 1px 1px 0px 0px #444,
		inset 2px 2px 0px 0px #555;
}

.submit-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Dressing Room Button */

.content .dressing-room-nav {
	background-color: #dedede;
	display: inline-block;
	margin-bottom: 7px;
	margin-left: 14px;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: var(--button-box-shadow);
}

.content .dressing-room-nav:hover {
	box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.content .dressing-room-nav:active {
	color: #fff;
	background-color: #666;
	box-shadow: var(--button-hover-bezel), inset -1px -1px 0px 0px #888,
		inset -2px -2px 0px 0px #777, inset 1px 1px 0px 0px #444,
		inset 2px 2px 0px 0px #555;
}

.content .dressing-room-nav-disabled:hover {
	cursor: not-allowed;
	box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.content .dressing-room-nav-disabled {
	cursor: not-allowed;
	opacity: 0.3;
	color: #000;
	background-color: #dedede;
	margin-bottom: 7px;
	margin-left: 14px;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: var(--button-box-shadow);
}