*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'ChicagoFLF';
    src: url('../fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav :link, :active, :visited {
text-decoration: none;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
    margin:35px;
}

form { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.25em;
}

.submit-button {
    background-color: #dedede;
    display: inline-block;
    margin:30px;
    border-radius: 3px;
    border: 1px solid #000;
    box-shadow: var(--button-box-shadow);
}
.submit-button:hover {
    box-shadow:
	var(--button-box-shadow),
        var(--button-hover-bezel);
}
.submit-button:active {
    color: #fff;
    background-color: #666;
    box-shadow:
	var(--button-hover-bezel),
	inset -1px -1px 0px 0px #888,
	inset -2px -2px 0px 0px #777,
	inset 1px 1px 0px 0px #444,
	inset 2px 2px 0px 0px #555;
}