*{
    box-sizing: border-box;
}

/* body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: chicago;
} */

@font-face {
    font-family: 'ChicagoFLF';
    src: url('fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

nav :link, :active, :visited {
text-decoration: none;
}
